* {
    padding: 0;
    margin: 0;
    font-family: arial;
}

.wrapper-login {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-login {
    background: linear-gradient(to left,  #f6f6f6f8 0%, #02a1fd 100%);
    padding: 20px 20px;
    width: 300px;
}

h1 {
    color: rgb(55, 52, 41);
    font-size: 30px;
    margin-bottom: 20px;
}

input {
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    width: 80%;
}

button {
    background-color: rgb(55, 52, 41);
    border: none;
    background: #02a1fd 100%;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 40%;
}

button:hover {
    opacity: .5;
    transition: .3s;
    cursor: pointer;
}

p {
    font-size: 12px;
    color: #333;
}

#error {
    text-align: center;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(232, 43, 84, 0.755);
    width: 300px;
    color: #fff;
    padding: 20px;
    display: none;
}

.tampilanError {
    color: #f00;
}

.container-adm {
    background: linear-gradient(to right,  #f6f6f6 0%, #84d2ff 100%);
    padding: 20px;
}

table tr td {
    padding: 10px;
}