*{
    padding: 0;
    margin: 0; 
    font-family: arial;
}

.wrapper {
    width: 70%; 
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255); 
    font-size: 30px;
    margin-bottom: 20px;
}